---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Navigation from "../components/Navigation.astro";
import Title from "../components/Title.astro";
---

<html lang="en">
    <head>
        <Head />
    </head>
    <body class="mocha bg-base">
        <Title />
        <Navigation />
        <Footer />
    </body>
</html>
