---
const platform = "GitHub";
const username = "shaneplunkett";
---

<footer class="text-text fixed bottom-5 justify-center w-full">
    <p class="text-center">
        Learn more about my projects on <a
            class="text-mauve underline"
            href={`https://www.${platform}.com/${username}`}>{platform}</a
        >!
    </p>
</footer>
