---

---

<div class="flex text-text justify-center space-x-5">
    <a href="/" class="btn">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/portfolio/">Portfolio</a>
</div>
